body {
	background-color: rgb(241,222,222);
	color: rgb(84,86,67);
	font-family: Helvetica;
	font-weight: lighter;

}


h1 {
	color: rgb(66,12,20);
	font-family: Helvetica;
	font-weight: bold;
	font-size: 32px;
}

h2 {
	color: rgb(128,114,123);
}

a {
	color: violet;
	font-weight: bold;

}

.img-circle {
	border-radius: 50%;
}